{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}
<h1> Ajouter une Formation:</h1>
<div class="card">
{{form(formAddFormation)}}
</div>
{% endblock %}
