{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<h1> Ajouter une Category:</h1>
<div class="card">
    {{form(formAddCategory)}}
</div>
{% endblock %}
