{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}

<h1> Ajouter une Stagiaire:</h1>
<div class="card">
    {{form(formAddStagiaire)}}
</div>
{% endblock %}
