{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
<h1> Ajouter une Session:</h1>
<div class="card">
{{form(formAddSession)}}
</div>
{% endblock %}
