{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}
<h1> Ajouter une Module:</h1>
<div class="card">
{{form(formAddModule)}}
</div>
{% endblock %}
